@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Smooch&display=swap');


.navbar .navbar-brand{
  color: black;
    font-size: 23px;
    font-family: 'Sacramento', cursive;
/*     font-weight: bold; */
}

.navbar .nav-link{
  color: black;
  
}
.car{
  margin-top: 10px;
  padding: 10px;
}
.category{
  display: grid;
  grid-template-rows: 390px;
  grid-template-columns: repeat(3,1fr);
}
.catimg {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.head{
  text-align: center;
}
h4,h5{
  font-family: AvenirLTStd-Roman, arial, sans-serif;;
}
.cat{
  margin-top: 28px;
}

 .acchead{
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-weight: bold;
}
.arr{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  
}
.cardplus{
 
  margin-top: 20px;
  display: flex;
  justify-content: center;

}


.hometitacc{
  font-family:Courier New, monospace;
 text-align: center;
 margin-top: 8px;
 color: black;
 text-decoration: none;
}

.acchead{
  margin-top: 15px;
}
.sortbtn{
  background-color: white;
  padding: 10px 30px;
  margin-left: 10px;
  
}
.srt{
  width: 96%;
 
  display: flex;
  justify-content: right;
}
.srpr{
  margin-top: 12px;
}
.prdGrid{
  
  width: 85%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
}
.fashImg{
  height:96%;
  width: 70%;
  border: 2px solid black;
}
.cont{
  width: 90%;
  margin: auto;
  
}
.cartAdd{
  border: 2px solid black;
  font-weight: bold;
  margin-top: 10%;
  background-color: transparent;
  width: 90%;
  height: 10%;
}
.cartAdd:hover{
  background-color: black;
  color: white;
}

.checkBtn{
  padding:10px 40px;
  background-color: black;
  color: white;
}
.crt{
  padding:5px 17px;
 
  color: black;
}

.prodTitle{
  font-family: "Harriet Display Light", serif;
}
.prodP{
  font-family: AvenirLTStd-Roman;
  
}
.prdTit{
  /* border: 2px solid black; */
  width: 50%;
}
.prdImg{
  display: flex;
  justify-content: center;
  
}
.select{
  padding: 7px 25px;
  border: 2px solid black;
  margin-bottom: 3%;
}
.textO{
  padding: 10px;
  width: 100%;
  
  font-size: 30px;
  color: white;
  background-color: black;
}
.pay{
  font-family: PlutoMedium;
}
.new{
  text-align: center;
  font-family: PlutoMedium;
  font-weight: bold;
  font-size: 15px;
}
.note{
  font-family: PlutoMedium;
  /* font-weight: bold; */
  font-size: 17px;
  width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: transparent;
}
.note:hover{
  color: white;
  background-color: black;
}
.filtgrid{
  display: flex;
justify-content: space-between;
width: 90%;
/* border: 1px solid red; */
margin: auto;
}
.load{
  margin: auto;
  margin-top: 3%;
}
.plus{
  background-color: transparent;
  border-radius: 20%;
}

.plus:hover{
  background-color: black;
  color: white;
}
.crt{
  /* font-size: 60%; */
  background-color: transparent;
  border: transparent;
    }
    .crt:hover{
      background-color: black;
      color: white;
    }
@media only screen and (min-width: 500px) and (max-width: 1100px) {
  .category, .arr {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .prdGrid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  .cartAdd{
    border: 2px solid black;
    font-weight: bold;
    margin-top: 10%;
    background-color: transparent;
    width: 90%;
    height: 7%;
  }
  .prdimgi{
    height: 96%;
    width: 96%;
  }
  .fashImg{
    height:96%;
    width: 70%;
    border: 2px solid black;
  }
  .prdImg{
   
    display: flex;
    justify-content: center;
  }
  .prdTit{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prdTit{
    /* border: 2px solid black; */
    width: 100%;
  }
  .filtgrid{
   
    display: grid;
    
    grid-template-columns: repeat(3,1fr);
    column-gap: 20%;
    margin-top: 7%;
  }
  
  
  
  
}
.car{
  display: flex;
  
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .category, .arr {

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 5%;
  }
  .sortbtn{
    background-color: white;
    border-radius: 15px;
    font-size: 12px;
    padding: 1px 6px;
    margin-left: 7px;
    margin-top: 7px;
    
  }
  .cartAdd{
    border: 2px solid black;
    font-weight: bold;
    margin-top: 10%;
    background-color: transparent;
    width: 90%;
    height: 10%;
  }
  .prdTit{
    /* border: 2px solid black; */
    width: 100%;
  }
  .prdGrid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  .prdimgi{
    height: 96%;
    width: 96%;
  }
  .fashImg{
    height:96%;
    width: 70%;
    border: 2px solid black;
  }
  .filtgrid{
   margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  row-gap: 10px;
  }
  .categ{
    margin-top: 4%;
    
  }
  .cartImage{
    height: 37%;
    width: 37%
  }
  .cartTitle{
    font-size: 60%;
  }
  
  
}
